body {
  background: rgb(90, 90, 90);
  margin: 20px;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

p {
  margin: 20px 10px 20px 10px;
  color: white;
}

h1 {
  color: white;
}

input {
  border: 1px solid rgb(210, 210, 210);
  border-radius: 4px;
}

textarea {
  border: 1px solid rgb(210, 210, 210);
  border-radius: 4px;
}

#gsearch {
  padding: 5px 160px 5px 160px;
}

#bt {
  background-color: rgb(245, 245, 245);
  height: 29px;
  line-height: 23px;
  border-radius: 2px;
  text-align: auto;
  font-weight: bold;
  color: rgb(90, 90, 90);
}

.header {
  margin: 0px 0px 0px 0px;
  padding: 15px 40px 15px 40px;
  text-align: right;
  font-family: Arial;
  font-size: 13px;
}

.footer {
  position:fixed;
    bottom:0px;
    left:0px;
    right:0px;
    height:20px;
    margin-bottom:0px;
  padding: 15px 40px 15px 40px;
  border: 1px solid rgb(210, 210, 210, 0.7);
  background-color: rgba(34, 34, 34, 0.7);
  text-align: right; 
  font-family: Arial;
  color: rgb(210, 210, 210);
  font-size: 13px;
}

#blank {
margin: 10px;
}